
.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.rental-item {
  background-color: #ef3535;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.rental-item div {
  margin-bottom: 5px;
}

button {
  background-color: #1bbb1d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #fd4816;
}
